@{
    ViewData["Title"] = "Hire a Guide";
}

<h1>Hire a Guide</h1>

<img src="~/img/IMG_2970 (1).jpg" alt="Hobby Image" width="1000" />

<br />
<p>Would you like to come join us? Enter your hours below to see the cost!</p>
<p>P.S. this was our tour group going inside of an ancient cave settlement in Mongolia</p>

<div class="calculator-container">
    <label for="hours">Hours needed:</label>
    <input type="number" id="hours" min="1" placeholder="Enter positive number" />
    <br /><br />

    <label for="rate">Hourly Rate ($):</label>
    <input type="text" id="rate" value="50" readonly />
    <br /><br />

    <button id="btnCalculate">Calculate Total</button>
    <br /><br />

    <label for="total">Total Estimate ($):</label>
    <input type="text" id="total" readonly />
</div>
<br />
<br />

<img src="\img\pxl_20250616_070448017.night.jpg" width="1000"/>

@section Scripts {
    <script src="~/js/calculator.js"></script>
}