@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/IMG_1678.jpg" width="1000">
    <h1 class="display-4">Welcome to my Climbing Site</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
		This is a little bit about rock climbing and how to get started. If you are interested in learning more about rock climbing, please check out the <a href="/Home/HireAGuide">Hire a Guide</a> page.
    </p>
</div>

